// Body
//
// Settings for the `<body>` element.

$body-text-align: null !default;
$body-color: $gray-900 !default;
$body-bg: $white !default;

$body-emphasis-color: $black !default;

$body-secondary-color: rgba($body-color, 0.75) !default;
$body-secondary-bg: $gray-200 !default;

$body-tertiary-color: rgba($body-color, 0.5) !default;
$body-tertiary-bg: $gray-100 !default;

$emphasis-color: $black !default;
